---
import styles from './backgroundText.module.css';
const { text, top, fromLeft, animationTime } = Astro.props;
---

<div class={styles.container}
    style={{ top: `${top}%` }}>
    <p class={fromLeft ? 
        `${styles.text} ${styles.left}` : `${styles.text} ${styles.right}`}
        style={{
            animationDuration: `${animationTime}s`
        }}>{text}</p>
</div>