---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TimeItem from "../components/timeItem/TimeItem.astro";
import { getCollection } from "astro:content";
import "./index.css"
import LinkedinIcon from "../components/icons/LinkedinIcon";

/*const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);*/
const startDate = new Date("2023-03-01");
const today = new Date();
const months = (today.getFullYear() - startDate.getFullYear()) * 12;
const monthsPassed = months + today.getMonth() - startDate.getMonth();

//const last_posts = posts.slice(0, 3);
const greetings = 'Hey there 👋';
const fullName = "I'm Ferran Hernandez";
const role = 'Full Stack Developer Analyst and DevOps Engineer';
const letsConnect = "Let's connect!";
const seeTheSourceCode = 'See the source code';
const profile = 'Profile';
const personalDesc = "In my free time I develop Android applications, create websites,"
                    + " repair/recondition pc's and tweak raspberry pi's among other hobbies."
                    + " My favorite programming language is Java but I adapt to all of them. I" 
                    + " am constantly learning with current and future technologies."
                    + " I consider myself an honest, friendly and empathetic person,"
                    + " both in my private and professional life.";
const experienceTitle = 'Experience';
const experiencetitle1 = '';
const experienceDesc1 = '';
const education = 'Education';
const certifications = 'Certifications';
const certMicroAngular = 'Microservices Spring cloud and Angular FullStack';
const certMicroDDD = 'Microservices using DDD';
const certDocker = 'Docker, from begginer to expert';
const certScrum = 'Scrum';
const certLPIC = 'LPIC-1 Linux administrator';
const certReactiveProgramming = 'Reactive programming';
const certMachineLearning = 'Machine Learning Data Science with Python';
const languages = 'Languages';
const spanish = 'Spanish';
const catalan = 'Catalan';
const english = 'English';
const portuguese = 'Portuguese';
const native = 'Native';
const advancedLevel = 'Advanced level';
const lowLevel = 'Low level';
const skills = 'Skills';
const techs = ['Astro', 'Node.js', 'Next.js', 'React .js'
              ,'Tekton', 'Flux', 'Github Actions', 'Terraform'
              ,'Google Cloud', 'Amazon Web Services', 'Microsoft Azure'
              ,'Kubernetes', 'Microservices', 'JDBC', 'SonarQube'
              ,'Jenkins', 'Jira', 'Swagger', 'Rancher', 'JPA', 'Hibernate'
              ,'Spring Boot', 'Java', 'Spring Security', 'Spring Cloud'
              ,'Angular', 'Visual Basic .NET', 'VB6', 'C#', 'Linux', 'Windows'
              ,'MockMVC', 'JUnit', 'Thymeleaf', 'Jasper Reports', 'Vue.js'
              ,'Git', 'PHP', 'Microsoft SQL', 'Oracle SQL', 'PostgreSQL'
              ,'PL/SQL', 'SASS', 'JavaScript', 'Typescript', 'Kotlin'
              ,'Python', 'Apache Tomcat', 'WildFly', 'SOLID', 'DDD'];
---

<BaseLayout>
    <div class="pb-12 titleSection text-center">
      <h1 class="text-5xl font-bold">{fullName}</h1>
      <h2 class="text-3xl py-3 font-bold">{role}</h2>
      <!--<div class="py-2">
        <text class="text-lg">Possible introduction</text>
      </div>-->
      <div class="mt-8 mainButtons">
        <a class="btn btn-outline fontButtons" href="https://www.linkedin.com/in/ferran-hernandez-v3/" target="_blank"><LinkedinIcon />{letsConnect}</a>
        <!--a class="btn btn-outline fontButtons" href="https://github.com/Ferranv3/astro-portfolio" target="_blank">{seeTheSourceCode}</a-->
      </div>
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold text-center">{profile}</div>
    </div>
  
    <div class="mb-10 text-justify">{personalDesc}</div>
  
    <div id="experience" class="mb-5">
      <div class="text-3xl w-full font-bold text-center">{experienceTitle}</div>
    </div>
    <div class="time-line-container mb-10">
      <TimeItem
        title="Programmer Analyst and DevOps Engineer"
        subtitle={`From 03/2023 to current at RealNaut - ${monthsPassed} months - Remote work`}
        desc="RealNaut is a company dedicated to offer innovative and scalable cloud solutions. My job is to design, develop and deploy web and mobile applications using technologies such as Terraform, Flux, Tekton, Github Actions, AWS, Google Cloud and Azure to bring automation, continuous integration and delivering quality software."
      />
      <TimeItem
        title="Lead Tech and Full Stack Developer/DevOps"
        subtitle="From 06/2022 to 03/2023 at Trace Logistics - 10 months - Remote work"
        desc="Led a team of technicians developing applications using new technologies and implemented microservices architecture and DevOps services. I did trainings for the whole department every 2 weeks and advanced technical trainings for my team on the technologies used."
      />
      <TimeItem
        title="Full Stack Analyst and DevOps"
        subtitle="From 11/2021 to 07/2022 at Indra - 8 months - Remote work"
        desc="Was assigned to an internal banking project working principally on backend role with Spring/Java developing API's REST with microservices architecture using agile methodologies and maintaining the environment with devOps tools. I also make the initial formation for the new recruits to the team."
      />
      <TimeItem
        title="Full Stack Developer"
        subtitle="From 07/2020 to 10/2021 at Indra - 1 year and 5 months - Lleida, Catalonia, Spain"
        desc="Was designing UI, implementing features, customizing the software for 3rth companies and technical support to the clients of a enterprise resourse planning software for rrhh, contability, stock and web ecommerce linked to this ERP. I also make the initial formation for the new recruits to the team."
      />
      <TimeItem
        title="Programmer Internship"
        subtitle="From 01/2020 to 03/2020 at Indra - 3 months - Lleida, Catalonia, Spain"
        desc="Learned about FullStack role implementing functionalities and fixing errors using Angular with Typescript in frontend and Spring with Java and Kotlin in backend."
      />
    </div>
    
    <div id='education' class="mb-5">
      <div class="text-3xl w-full font-bold text-center">{education}</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      <TimeItem
        title="Software engineering"
        subtitle="2020 to Currently at UOC, Barcelona, Spain (remote)"
      />
      <TimeItem
        title="CFGS Cross-platform application development"
        subtitle="2018 to 2020 at IES Caparrella, Lleida, Spain"
      />
      <TimeItem
        title="CFGM Microcomputer systems and networks"
        subtitle="2010 to 2012 at IES Caparrella, Lleida, Spain"
      />
      <TimeItem
        title="Compulsory secondary education"
        subtitle="2006 to 2010 at El Carme, Lleida, Spain"
      />
    </div>

    <div id="languages" class="mb-5">
      <div class="text-3xl w-full font-bold text-center">{languages}</div>
    </div>
  
    <ul class="list-disc md:columns-4 columns-1 mx-6 mb-10">
      <li>{spanish}: {native}</li>
      <li>{catalan}: {native}</li>
      <li>{english}: {advancedLevel}</li>
      <li>{portuguese}: {lowLevel}</li>
    </ul>
  
    <div id="certifications" class="mb-5">
      <div class="text-3xl w-full font-bold text-center">{certifications}</div>
    </div>
  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a href="https://github.com/Ferranv3/Certificados-cursos/blob/master/Certificado-Microservicios_con_Spring_cloud_y_Angular_FullStack.pdf" target="_blank">{certMicroAngular}</a>
      </li>
      <li>
        <a href="https://github.com/Ferranv3/Certificados-cursos/blob/master/Certificado-Spring-Microservices-using-DDD.pdf" target="_blank">{certMicroDDD}</a>
      </li>
      <li>
        <a href="https://github.com/Ferranv3/Certificados-cursos/blob/master/CertificadoDocker.pdf" target="_blank">{certDocker}</a>
      </li>
      <li>
        <a href="https://github.com/Ferranv3/Certificados-cursos/blob/master/CertificadoScrum.pdf" target="_blank">{certScrum}</a>
      </li>
      <li>
        <a href="https://github.com/Ferranv3/Certificados-cursos/blob/master/Certificado_LPIC-1_Administrador_Linux.pdf" target="_blank">{certLPIC}</a>
      </li>
      <li>
        <a href="https://github.com/Ferranv3/Certificados-cursos/blob/master/Certificado_programacion_reactiva_spring_boot_y_webflux.pdf" target="_blank">{certReactiveProgramming}</a>
      </li>
      <li>
        <a href="https://github.com/Ferranv3/Certificados-cursos/blob/master/Certificado_Curso_completo_Machine_Learning_Data_Science_Python.pdf" target="_blank">{certMachineLearning}</a>
      </li>
    </ul>
  
    <div id="skills" class="mb-5">
      <div class="text-3xl w-full font-bold text-center">{skills}</div>
    </div>
  
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      {techs.map((name) => (
        <li>{name}</li>
      ))}
    </ul>

    <!--<br/>
    <div id="projects" class="mb-5">
      <div class="text-3xl w-full font-bold">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

    <!--
    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }-->

</BaseLayout>
