---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import TimeItem from "../components/timeItem/TimeItem.astro";
import { getCollection } from "astro:content";
import "./index.css"

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
const greetings = 'Hey there 👋';
const fullName = "I'm Ferran Hernandez";
const role = 'Full Stack Developer Analyst and DevOps Engineer';
const letsConnect = "Let's connect!";
const seeTheSourceCode = 'See the source code';
const profile = 'Profile';
const personalDesc = "In my free time I develop Android applications, create websites,"
                    + " repair/recondition pc's and tweak raspberry pi's among other hobbies."
                    + " My favorite programming language is Java but I adapt to all of them. I" 
                    + " am constantly learning with current and future technologies."
                    + " I consider myself an honest, friendly and empathetic person,"
                    + " both in my private and professional life.";
const experienceTitle = 'Experience';
const experiencetitle1 = '';
const experienceDesc1 = '';
const education = 'Education';
const certifications = 'Certifications';
---

<BaseLayout>
    <div class="pb-12 mt-5">
      <div class="text-xl py-1">{greetings}</div>
      <div class="text-5xl font-bold">{fullName}</div>
      <div class="text-3xl py-3 font-bold">{role}</div>
      <!--<div class="py-2">
        <text class="text-lg">Possible introduction</text>
      </div>-->
      <div class="mt-8 mainButtons">
        <a class="btn btn-outline fontButtons" href="https://www.linkedin.com/in/ferran-hernandez-v3/" target="_blank">{letsConnect}</a>
        <a class="btn btn-outline fontButtons" href="https://github.com/Ferranv3/astro-portfolio" target="_blank">{seeTheSourceCode}</a>
      </div>
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">{profile}</div>
    </div>
  
    <div class="mb-10 text-justify">{personalDesc}</div>
  
    <div id="experience" class="mb-5">
      <div class="text-3xl w-full font-bold">{experienceTitle}</div>
    </div>
    <div class="time-line-container mb-10">
      <TimeItem
        title="Programmer Analyst and DevOps Engineer"
        subtitle="From 03/2023 to current at RealNaut - 3 months - Remote work"
        desc="RealNaut is a company dedicated to offer innovative and scalable cloud solutions. My job is to design, develop and deploy web and mobile applications using technologies such as Terraform, Flux, Tekton, Github Actions, AWS, Google Cloud and Azure to bring automation, continuous integration and delivering quality software."
      />
      <TimeItem
        title="Full Stack Developer and DevOps "
        subtitle="From 06/2022 to 03/2023 at Trace Logistics - 10 months - Remote work"
        desc="Trace Logistics is the multi-client logistics core of the Fluidra group, an ibex35 multinational created in Catalonia, which provides logistics services to Fluidra group companies. Strategically located in Girona, it offers warehousing, distribution and maritime transport services in Spain, France, Italy, Portugal, Holand and the rest of Europe."
      />
      <TimeItem
        title="Full Stack Analyst and DevOps"
        subtitle="From 11/2021 to 07/2022 at Indra - 8 months - Remote work"
        desc="I was assigned to an internal banking project working principally on backend role with Spring/Java developing an API REST using agile methodologies and maintaining the environment with devOps tools. I also make the initial formation for the new recruits to the team."
      />
      <TimeItem
        title="Full Stack Developer"
        subtitle="From 07/2020 to 10/2021 at Indra - 1 year and 5 months - Lleida, Catalonia, Spain"
        desc="Programación Integral S.A. is a strong enterprise with many headquarters at Spain that offers a robust enterprise resource planning software. There i was designing UI, implementing features, customizing the software for 3rth companies and technical support to the clients of a enterprise resourse planning software for rrhh, contability, stock and web ecommerce linked to this ERP. I also make the initial formation for the new recruits to the team."
      />
      <TimeItem
        title="Programmer Internship"
        subtitle="From 01/2020 to 03/2020 at Indra - 3 months - Lleida, Catalonia, Spain"
        desc="JustDigital is a solid IT startup located at Lleida that provides a digital transformation to companies creating multiplatform apps for Android, IOS and web. I was learning about FullStack role implementing functionalities and fixing errors using Angular with Typescript in frontend and Spring with Java and Kotlin in backend."
      />
    </div>
    
    <div id='education' class="mb-5">
      <div class="text-3xl w-full font-bold">{education}</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      <TimeItem
        title="Software engineering"
        subtitle="2020 to Currently at UOC, Barcelona, Spain (remote)"
      />
      <TimeItem
        title="CFGS Cross-platform application development"
        subtitle="2018 to 2020 at IES Caparrella, Lleida, Spain"
      />
      <TimeItem
        title="CFGM Microcomputer systems and networks"
        subtitle="2010 to 2012 at IES Caparrella, Lleida, Spain"
      />
      <TimeItem
        title="Compulsory secondary education"
        subtitle="2006 to 2010 at El Carme, Lleida, Spain"
      />
    </div>
  
    <!--<div class="mb-5">
      <div class="text-3xl w-full font-bold">{certifications}</div>
    </div>
  
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
      <li>
        <a href="#" target="_blank"> Certification Name (with link)</a>
      </li>
    </ul>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>
  
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
      <li>Skill Name</li>
    </ul>

    <br/>
    <div id="projects" class="mb-5">
      <div class="text-3xl w-full font-bold">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

    <!--
    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }-->

</BaseLayout>
