---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import BackgroundText from "../components/backgroundText/BackgroundText.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import "astro:prefetch";


const {
  image = "../../public/profile.webp",
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  lang = "en",
  navigation,
  contactEmail = "ferranhpv3@gmail.com",
  headerTitle = SITE_TITLE,
  homeHref = "/",
} = Astro.props;

const symbol1 = "/*";
const symbol2 = "</";
const symbol3 = "/>";
const symbol4 = "*/";
---

<!DOCTYPE html>
<html lang={lang} data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="bg-base-100 drawer drawer-mobile">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col bg-base-100">
        <Header title={headerTitle} homeHref={homeHref} />
        <BackgroundText text={symbol1} top="5" fromLeft=true animationTime="15" />
        <BackgroundText text={symbol2} top="30" animationTime="30" />
        <BackgroundText text={symbol3} bottom="25" fromLeft=true animationTime="20"/>
        <BackgroundText text={symbol4} bottom="0" animationTime="40" />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 max-w-[900px]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {
        includeSidebar && navigation && (
          <SideBar
            labels={navigation}
            homeHref={homeHref}
            contactEmail={contactEmail}
          />
        )
      }
    </div>
  </body>
</html>
