---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import BackgroundText from "../components/backgroundText/BackgroundText.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";


const { image = '../../public/profile.webp'
      , title = SITE_TITLE
      , description = SITE_DESCRIPTION, includeSidebar = true } = Astro.props;

const symbol1 = '/*';
const symbol2 = '<';
const symbol3 = '/>';
const symbol4 = '*/';
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="bg-base-100 drawer drawer-mobile">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col bg-base-100">
        <Header title={SITE_TITLE} />
        <BackgroundText text={symbol1} top="0" fromLeft=true animationTime="15" />
        <BackgroundText text={symbol2} top="20" animationTime="30" />
        <BackgroundText text={symbol3} top="50" fromLeft=true animationTime="20"/>
        <BackgroundText text={symbol4} top="80" animationTime="40" />
        <div class="md:flex md:justify-center">
          <main class="p-6 pt-10 max-w-[900px]">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar />}
    </div>
  </body>
</html>
